[Desktop Entry]
Type=Service
MimeType=application/octet-stream;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Actions=CreateISOfromDisk

[Desktop Action CreateISOfromDisk]
Name=Create ISO image from Disk
Icon=media-optical-dvd-symbolic
Exec=IFS=:; for dir in $(kf5-config --path services); do command="$dir/create-iso-from-disk.sh"; if [ -x "$command" ]; then $command "%f"; break; fi; done
